targets:
  - host: 161.202.181.42
    port: 22
    user: root
    branches:
      - master

project:
  name: ivkean/api
  database:
    name: amio
    user: postgres
    password: postgres
    seed: sql/seed.sql
  port: 8080

notification:
  slack:
    enable: true
    channels:
      - https://hooks.slack.com/services/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
  email:
    enable: true
    smtp:
      domain: dwarvesf.com
      host: smtp.gmail.com
      port: 587
      user: git@dwarvesf.com
      pass: W3aredwarves
      starttls: true
      authentication: login
      from_name: devops
      from_email: devops@dwarvesf.com
    recipients:
      - ivkeanle@dwarvesf.com

registry: hub.dwarvesf.com