targets:
  - host: 161.212.180.41
    port: 22
    user: root
    branches:
      - feature/login
      - feature/register
  - host: sample.dwarvesf.com
    port: 22
    user: root
    branches:
      - feature/listing

project:
  name: amio/api
  database:
    name: db
    user: postgres
    password: postgres
    seed: sql/seed.sql
  port: 8080

notification:
  slacks:
    - https://hooks.slack.com/services/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
    - https://hooks.slack.com/services/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
  emails:
    - hiring@dwarvesf.com

registry: hub.docker.com
